/****************************************************** main bg */
#mainBgHabitCreate {
  position: relative;
  padding-top: 14rem;
}

@media (min-width: 576px) {
  #mainBgHabitCreate {
    padding-top: 8rem;
  }
}

/****************************************************** arrow */
#leftArrow {
  position: absolute;
  top: 5rem;
  left: 0.5rem;
}

.fa-solid.fa-circle-left {
  font-size: 2rem;
  cursor: pointer;
}

.fa-solid.fa-circle-left:hover {
  color: #42c2ff;
}

@media (min-width: 576px) {
  #leftArrow {
    top: 7rem;
    left: 3rem;
  }
}
